<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scatter</title>
    <!--link rel="stylesheet" href="../base.css"-->
    <script src="//d3js.org/d3.v4.min.js" charset="utf-8"></script>
</head>
<body>
    <!--input type="button" onclick="update()" value="Update"/>
    <input type="range" value="50" min="0" max="100" id="maximum"-->
    <div id="vis">
    </div>
<script>
  var data = JSON.parse('{{ data | tojson | safe }}');
</script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
